.vs
Library
Logs
obj
Packages
ProjectSettings
Temp

Assets/Plugins
Assets/Resources
Assets/Contents

*.overrideController
*.overrideController.meta
*.cs.meta
*.meta
*.csproj
*.sln
*.VC.db
*.txt
*.apk
*.lib
*.dll


